<div class="container mx-auto px-sm-0">

  <div class="row mt-5 my-5">
    <div class="col-3 offset-2 text-center">
      <div class="grey-box mb-auto">
        <h2><%= @item.name %>の詳細画面</h2>
      </div>
    </div>
  </div>

</div>